cloudpickle==1.2.2
future==0.18.2
gym==0.15.3
importlib-metadata==0.23
jedi==0.15.1
more-itertools==7.2.0
numpy==1.17.3
parso==0.5.1
pluggy==0.13.0
pyflakes==2.1.1
pyglet==1.3.2
python-jsonrpc-server==0.2.0
python-language-server==0.30.0
scipy==1.3.1
six==1.12.0
yapf==0.28.0
zipp==0.6.0
